body {
    background-color: #F39494;
}

main {
    margin: 225px 429px;
}

section {
    background-color: #FFFEFE;
    border-radius: 10px;
    padding: 5px;
}

h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    font-style: 'Open Sans', serif;
    margin: 0px;
}

p {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    font-style: 'Open Sans', serif;
    margin: 0px 0px 47px 0px;
}

a {
    color: #089FE0;
}

.heroLink {
    text-decoration: underline;
}

.link {
    text-decoration: none;
}

input {
    background-color: #F5F5F5;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    font-style: 'Open Sans', serif;
    border-radius: 5px;
    margin: 0px 0px 22px 0px;
    line-height: 44px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #999999;
}

button {
    color: #F5F5F5;
    background-color: #089FE0;
    font-size: 18px;
    font-weight: 400;
    font-style: 'Open Sans', serif;
    border-radius: 5px;
    line-height: 44px;
    margin: 0px 0px 22px 0px;
}

label {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    font-style: 'Open Sans', serif;
    line-height: 19px;

}

.divCheck {
    margin: 0px 0px 91px 0px;
}